form{
    margin-block-end: 0em !important;

}

.textarea{
    width: 75%;
    padding: 1rem;
    border-radius: 25px;
    background-color: white;
    box-shadow: 1px 1px 2px 2px #888888;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.5s;

}
.h4{
    width: 100% !important;
    height: fit-content;
    background-color: gray;
    border-radius: 50px;
    margin-bottom: 0rem !important;
}

#divh4{
    width: 100% !important;
    cursor: pointer;
    padding: 1rem;
    height: fit-content;
}

.show{
    display: block !important;
}
.hide{
    display: none;
}
input[type=text]{
    width: 90%;
    height: 2rem;
    background-color: whitesmoke;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;            
    border: none;
    transition: all 0.5s
}

input[type = text]:focus{
    outline: 1px solid red;
    border-radius: 25px;
}
textarea{
    width: 90%;
    background-color: whitesmoke;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;

    height: 25vh;
    border: none;
    transition: all 0.5s
}
textarea:focus{
    outline: 1px solid red !important;
    border-radius: 25px !important;
}
.as:hover{
    color: rgb(66, 62, 62);
}
.as{
    transition: color 0.3s;
    cursor: pointer;
}
#can, #pub{
    border-radius: 25px !important;
    width: 25%;
    height: 7vh;
    font-size: 23px !important;
    border: 1px solid grey;
}



#button{
    width: 5rem;
    height: 3rem;
    border: none;
    position: relative;
    bottom: 6rem;
    float: left;
    margin: 1rem;
}

.divinput{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}
.divtextarea{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.buttons button{
    margin-left: 1rem;
    margin-right: 1rem;
    height: fit-content;
    margin-bottom: 1rem !important;

}
.red{
    color: red;
}
.max_caracteres{
    width: 100%;
    margin-right: 4rem;
    margin-left: 3rem;

    margin-top: 1rem;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
}
.btn_file{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_file input{
    cursor: pointer;
}
.modal_success{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.modal-window{
    z-index: 1;
    border-radius: 25px;
    padding: 1rem;
    padding-top: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: show 0.3s;
}
.modal-window ul li{
list-style: none;
}
.modal-window .modal-button{
    width: 75%;
    background-color: brown;
    font-weight: bold;
    border-radius: 50px;
    transition: background-color 0.3s;
    justify-items: center !important;
    justify-self: center !important;
}
.modal-window .modal-button:hover{
    width: 75%;
    background-color: white;
    font-weight: bold;
    border-radius: 50px;

    justify-items: center !important;
    justify-self: center !important;
}
@keyframes show {
    0%{

        transform: translate(-50%, -50%) scale(0.1);
        top: 50%;
        left: 50%;

    }

    100%{
        transform: translate(-50%, -50%) scale(1);
        top: 50%;
        left: 50%;

    }
}

@keyframes hide {
    0%{
        transform: translate(-50%, -50%) scale(1);
        top: 50%;
        left: 50%;
        
    }

    100%{
        transform: translate(-50%, -50%) scale(0.1);
        top: 50%;
        left: 50%;
    }
}

@keyframes shake {
    25%{
        transform: translateX(4px);
    }
    50%{
        transform: translateX(-4px);
    }
    75%{
        transform: translateX(4px);
    }
}

.close_modal_window{
    animation: hide 0.3s;
    visibility: hidden;
}
.custom-file {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.custom-file-input {
    z-index: 2;
    width: 100% !important;
    height: calc(1.5em + 0.75rem + 2px);
    margin: 0;
    opacity: 0;
    overflow: hidden;
}

.custom-file-label {
    font-weight: 400;
    color: #495057;
    width: 25%;
    height: 2rem !important;
    padding-top: 1.7rem;
    padding-bottom: 3rem;
    display: flex;
    cursor: pointer;

    justify-content: center;
    background-color: rgb(158, 140, 140);
}
.custom-file-label:hover{
    background-color: rgba(158, 140, 140, 0.7);
}

input[type=file]{
    width: 90%;
    height: 2rem;
    background-color: whitesmoke;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    padding-top: 1.5rem !important;
    padding-bottom: 3rem !important;            
    border: none;
    transition: all 0.5s
}

/* ESTILO DEL DIV QUE CONTENTRÁ EL INPUT */
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    }
    /* ESTILO DEL INPUT*/
    .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    }
    /* ESTILO DEL BOTÓN */
    .boton-standar-rw{
    margin: 5px;
    background-color: white;
    color: rgb(245, 61, 58);
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgb(245, 61, 58);
    transition: all 0.3s ease 0s;
    width: 12em;
    padding: 10px;
    }
    /* ESTILO DEL BOTÓN CON HOVER DE MOUSE */
    .boton-standar-rw:hover{
      color: white;
      background-color: rgb(245, 61, 58);
    }

.archivos:hover{
    color: red;
}
.a_img:hover{
    color: black;
}
.div_archivos:hover{
    background-color: rgb(190, 190, 190);

}
.div_archivos{

padding-bottom: 1rem;
}

@media screen and (max-width: 905px) {


    .div_h4_2{
        transition: all 0.5s;
        
    }

}
@media screen and (max-width: 770px) {


    #div_mensaje{
        flex-wrap: wrap !important;
        transition: all 0.5s;
    }
    .div_h4_2{
        transition: all 0.5s;
        width: 150% !important;
    }
    #div_h4{
        transform: translate(-75%, -100%) !important;

    }

}
@media screen and (max-width: 600px) {


    .textarea{
        width: 95% !important;
        margin-left: auto !important;
        margin-right: auto !important;

        transition: all 0.5s;
    }
    #notices{
        width: 95% !important;
        transition: all 0.5s;

    }

    #div_h4{
        margin-top: 0.5rem !important;
        transition: all 0.5s;
        transform: translate(-98%, -100%) !important;

    }
    .div_h4_2{
        transition: all 0.5s;
        width: 195% !important;
    }


}
@media screen and (max-width: 412px) {

    #div_title2{
        justify-content: center !important;
        flex-direction: column-reverse !important;
        transition: all 0 5s;
        text-align: center;
    }
    .custom-file{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .s_file{
        width: 100px !important;
        height: 100px !important;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }


}
@media screen and (max-width: 305px) {

    #div_h4{
        transition: all 0.5s;
    }
    .max_caracteres{
        height: 8vh !important;
    }
    h3{
        margin-top: 0rem !important;
    }


}
#div_h4{
    transition: all 0.5s;
    z-index: 1;
    position: sticky;
    top: 13% !important;
    padding-top: 0rem !important;
    padding: 0rem !important;
}
#div_mensaje{
    transition: all 0.5s;
}
#div_title2{
    transition: all 0 5s;
}
#notices{
    transition: all 0.5s;

}
.btn_c{
    width: fit-content !important;
}