/* GENERAL CSS*/
body {
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    margin-bottom: auto;
    max-width: 720px;
    padding: 0.5rem;
    position: relative;
    min-height: 550px;
    max-height: 520px;
    text-align: start;
    transform: translateY(0.5rem);
    box-shadow: 20px 10px 30px 0px black;
    background-image: linear-gradient(#1E73B0, #457ea7, #2f1297, #150063);
}
section:first-child{
    background: rgb(8, 15, 83) !important;
    width: 19%;
}
.backg{
    position: fixed !important;
    width: 100% !important;
    height: 100vh;
    display: flex !important;
    flex-wrap: wrap;
    flex: 1;
    overflow:hidden;
    background: rgb(8, 15, 83) !important;

    justify-content: center;
}

input[type=email], input[type= text], input[type= password]{
    width: 100%;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding-right: 2.5rem !important;
    background-image: linear-gradient(to right, #004272,#1E73B0);
}

input[type=email], input[type= email]:valid, input[type= text]:valid, input[type= password]:valid{
    color: white;
    padding-left: 1.5rem;
    background-image: linear-gradient(to right, #004272,#1E73B0);

}
input[type=email], input[type= email]::placeholder, input[type= text]::placeholder, input[type= password]::placeholder{
    color: rgb(175, 163, 163);
}

.div-icon-title{
    color: white; 
    font-family: 'Quicksand' !important;
    font-weight:bold;
    margin-left: 2rem;
    margin-top: 1.5rem;

}

div button[type=button]{
    width: 100%; 
    height: fit-content; 
    border-radius: 10px;
    font-size: large;
    border: 0 !important;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-image: linear-gradient(to right, #004272, #015088, #1E73B0);
}

div button[type=button]:hover{
    color: white;
    cursor: pointer;
    width: 100%; 
    height: fit-content; 
    border-radius: 10px;
    font-size: large;
    border: 0 !important;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: all 0.5s;
    background-image: linear-gradient(to right,  #1E73B0, #015088, #004272);
}
div button[type=submit]{
    width: 100%; 
    height: fit-content; 
    border-radius: 10px;
    font-size: large;
    border: 0 !important;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-image: linear-gradient(to right, #004272, #015088, #1E73B0);
}

.div-submit{
    margin: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

div button[type=submit]:hover{
    color: white;
    cursor: pointer;
    width: 100%; 
    height: fit-content; 
    border-radius: 10px;
    font-size: large;
    border: 0 !important;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: all 0.5s;
    background-image: linear-gradient(to right,  #1E73B0, #015088, #004272);
}



@media screen and (max-width: 971px) {
    section:first-child{
        width: 100%;
        min-height: 0px;
        margin-bottom: 0px;

    }
    .div-label{
        width: 100%;
    }

    
    .backg{
        overflow-y: auto;
        
    }
}

.div-form1{
    display: flex !important;
    flex-wrap: wrap;
    width: 100% !important;
    padding: 0.5rem;
}

#div-section1{
    margin-left: 1rem;
    margin-top: 1rem;
}

#div-section1 div h2{
    color: white;
}


/* LOGIN CSS*/

#pass_show{
    background: transparent !important;
    width: 0px !important;
    height: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    transform: translateX(-2.5rem);
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#pass_show_confirmation{
    background: transparent !important;
    width: 0px !important;
    height: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    transform: translateX(-2.5rem);
    padding-left: 0 !important;
    padding-right: 0 !important;
}

textarea::placeholder{
    width: fit-content;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    color: black;
}

div textarea{
    width: fit-content;
    background-image: linear-gradient(to right, #004272,#1E73B0);
}

.div-form{
    display: flex !important;
    flex-wrap: wrap;
    width: 100% !important;
    margin: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.div-form1 a{
    margin-left: 1rem;
}

.div-form1 input{
    padding-left: 2.5rem !important;
}

#forgot_password{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

#btn_forgot_password{
    color: black;
}

#div-register{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

#div-register a{
    font-weight: bold;
}

#btn_forgot_password{
    color: black;
}

#btn_forgot_password:hover{
    color: white;
}

.iconss{
    transform: translate(0.7rem, 0.2rem);
    width: 0px;
    height: 0px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

/* REGISTER CSS */
.div-form-pass{
    display: flex !important;
    flex-wrap: wrap;
    width: 100% !important;
    padding: 0.5rem;
}


#pass_show_reg{
    background: transparent !important;
    width: 0px !important;
    height: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    transform: translate(16rem, -2.5rem);
}

#pass_show_confirmation_reg{
    background: transparent !important;
    width: 0px !important;
    height: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    transform: translate(16rem, -2.5rem);
}

.div-form2{
    display: flex !important;
    width: 50%;
}

.div-form2 input{
    padding-left: 3rem !important;
    padding-right: 2rem !important;

}

.iconss2{
    transform: translate(0.7rem, 0.5rem);
    width: 0px !important;
    height: 0px !important;
    font-size: 20px;
    font-weight: bold;
    color: black;
    
}

@media screen and (max-width: 410px) {

    .div-form2{
        width: 100%;
    }
    .div-form2:first-child{
        padding-right: 0rem !important;
    }
    .div-form2:nth-child(2){
        padding-left: 0rem !important;

    }
}

/* */

.div-skills{
    background-image: linear-gradient(to right, #004272,#1E73B0);
    width: 5rem; 
    margin-right: 1rem; 
    margin-left: 1rem; 
    padding-top: 0.2rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    height: 2rem; 
    border-radius: 10px; 
    border: none; 
    color: white;
    font-family: 'Ek Mukta';
    font-size: 16px !important;
    margin-bottom: 0.5rem;
}

.img{
    display: flex;
    justify-content: center;
    margin-top: 0 !important;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30%;
}

div .label{
    color: gray; 
    font-family: 'Ek Mukta' !important;
    font-size: 16px !important;

    font-weight: bold;
}

.modal-window{
    z-index: 1;
    border-radius: 25px;
    background-color: red;
    color: white;
    width: 90%;
    height: 30px;
    margin-top: 0.5rem;
    padding-left: 2rem;
}