body {
    font-family: 'Nunito', sans-serif;
    overflow: auto;
    padding: 0 !important;
    margin: 0 !important;
    background-image:linear-gradient(to right, rgb(1, 2, 58), rgb(105, 9, 134), rgb(111, 3, 161), rgb(91, 14, 114), rgb(26, 0, 37)); 
    
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-image:linear-gradient(to top, rgb(1, 2, 58), rgb(105, 9, 134), rgb(111, 3, 161), rgb(91, 14, 114), rgb(26, 0, 37)); 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 0.3s;

}
::-webkit-scrollbar-thumb:hover {
    background-image:linear-gradient(to top, rgb(105, 9, 134), rgb(111, 3, 161), rgb(91, 14, 114) , rgb(26, 0, 37), rgb(1, 2, 58)); 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}
::-webkit-scrollbar-thumb:target {
    transform: scale(1.05);
    background-color: rgb(209, 209, 209);
    box-shadow: 0px 0px 20px rgba(149, 159, 153, .16);
}

::-webkit-scrollbar:window-inactive {
    display: none;
}


::-webkit-scrollbar-button:vertical:start:decrement {
    background:  #888 url(https://elcssar.com/ejemplos/arrow_up.png) no-repeat center;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background: #888 url(https://elcssar.com/ejemplos/arrow_down.png) no-repeat center center;
}

::-webkit-scrollbar-button:vertical:start:decrement:hover {
    background:  #555 url(https://elcssar.com/ejemplos/arrow_up.png) no-repeat center;
}

::-webkit-scrollbar-button:vertical:end:increment:hover {
    background: #555 url(https://elcssar.com/ejemplos/arrow_down.png) no-repeat center center;
}

.header{
    z-index: 2 !important;
    height: fit-content;
    position: sticky;
    top: 0 !important;
    background-image:linear-gradient(to right, red, rgb(248, 36, 8), rgb(255, 153, 0), yellow);
    transition: height 0.5s !important;
}
.navbar-toggler{
    display: none;
    width: 0 !important;
    height: 0 !important;
}
nav{
    max-width: 1350px;
    height: fit-content !important;
    margin-left: auto;
    margin-right: auto;
    transition: height 0.5s; 

}
nav .main{
    width: 100%;
    height: fit-content !important;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    transition: height 0.5s;
}


nav .main #img1{
    display: flex;
    width: 10rem !important;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 3rem !important;
    border-radius: 20px;
    background-image: linear-gradient(200deg, #d047d1, #f00, #ff0, #a739a8, #b00000, #b5b500);
    background-size: auto 210%;
    background-position: 0 100%;
    transition: background-position 0.5s;
    -webkit-transition: background 0.6s linear;
    -moz-transition: background 0.6s linear;
    -o-transition: background 0.6s linear;
}
nav .main #img1:hover{
    display: flex;
    width: 10rem;
    align-items: center;
    justify-content: center;
    background-position: 0 0;
    height: 3rem;
    border-radius: 20px;

}

nav .main #nav-ul{
    width: 100%;
    height: 100% !important;
}
nav .main #nav-ul #nav-ul-li{
    width: 100%;
    height: 100% !important;
}
nav .main #nav-ul #nav-ul-li ul{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    margin: 0 !important;
}

nav .main #nav-ul #nav-ul-li2{
    width: 100%;
    height: 100% !important;
}
nav .main #nav-ul #nav-ul-li2 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    height: 100% !important;
    margin: 0 !important;
}
nav .main #nav-ul #nav-ul-li2 ul li{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100% !important;
    list-style: none;                
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
nav .main #nav-ul #nav-ul-li ul li{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100% !important;
    list-style: none;                
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    justify-content: center !important;
}

a:hover{
    color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -o-transition: 0.3s;
}

.left{
    position: relative;
    float: left;
}

.right{
    position: relative;
    float: right;
}

/*#img{
    width: 25rem !important;
    display: flex;
    justify-content: flex-end;
}*/

#img1 img{
    width: 8rem;
    height: 2rem;
}
#btn-add{
    display: none;
    }
    
#btn-remove{
    display: none;

}
/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 795px) {
    #btn-add{
        width: fit-content !important;
        margin-left: auto;
        padding: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        
        margin-right: auto;
        color: black;
        font-size: 35px;
    }
    
    #btn-remove{
        display: none;
        width: fit-content !important;
        margin-left: auto;
        padding: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        
        margin-right: auto;
        color: black;
        font-size: 35px;
    }
    #ul{
        display: none;
    }

    .none{
        display: none;
    }

    #nav-ul-li{
        display: none;
    }
    

/*                .ul_flex{
        text-align: center !important;
        width: 100% !important;
        height: 10vh !important;
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 0 !important;
        list-style-type: disc;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;
    }*/
    .ul_flex li{
        position: relative;
        left: 0 !important;
    }

    .navbar-toggler{
        display: block;
        width: 2.5rem !important;
        height: 2.5rem !important;
        background: #555 url("https://cdn-icons-png.flaticon.com/512/93/93643.png") no-repeat;
        background-size: 2.3rem 2.3rem;
        border-radius:10px;
        position: relative;
        float: right;
        margin-right: 1rem;
    }

    .navbar-toggler:hover{
        width: 2.5rem !important;
        height: 2.5rem !important;
        background: #f1f1f1 url("https://cdn-icons-png.flaticon.com/512/93/93643.png") no-repeat;
        background-size: 2.3rem 2.3rem;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        -o-transition: 0.3s;
    }
    
}
@media screen and (max-height: 622px) {
}

@media screen and (max-width: 990px) {
}


.a_actived{
    border-radius: 15%;
    color: white;
    height: 80% !important; 
    width: 100% !important;
}


.dropmenu:focus{
    outline: none !important;
    
}
.dropmenu{
    background-color: transparent;
    border: none;
}

.dropmenu2:focus{
    outline: none !important;
}
.dropmenu2{
    background-color: transparent;
    border: none;
}
.dropmenu2 .dropmenu3{
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end;
    justify-content: flex-end !important;
}
.dropmenu3 div{
    display: flex;
    justify-content: flex-end;
}
.dropmenu3 li{
    width: 100%;
    padding: 0 !important;

}


.dropmenu3 li a{
    width: 100% !important;
    border-radius: 15px;
    padding: 1rem;
}

.dropmenu3 li a:hover{
    width: 100% !important;
    border-radius: 15px;
}


.dropdown button{
    font-size: 18px !important;
    font-weight: bold;
}

.dropdown button:hover{
    font-size: 18px !important;
    color: white !important;
    font-weight: bold;
}
.dropdown-menu.dp2{
    transform: translate3d(-420px, 36px, 20px) !important;
    --bs-dropdown-min-width: 30rem !important;
}
.dropdown-menu a{
    border-radius: 0% !important;
}

.notify:hover{
    background-color:rgb(99, 99, 99) !important;
}
button:hover{
    color: white;
    font-size:medium;
    transition: 0.25s;
}

[tooltip] {
    position: relative; /* opinion 1 */
  }
  
  /* Applies to all tooltips */
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
  }
  [tooltip]::after {
    content: attr(tooltip); /* magic! */
    
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;
    
    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
  }
  
  /* Make the tooltips respond to hover */
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  
  /* FLOW: UP */
  [tooltip]:not([flow])::before,
  [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::before,
  [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  
  /* FLOW: DOWN */
  [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  
  /* FLOW: LEFT */
  [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }
  
  /* FLOW: RIGHT */
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
  
  /* KEYFRAMES */
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  /* FX All The Things */ 
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
  
  [tooltip][flow^="left"]:hover::before,
  [tooltip][flow^="left"]:hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }
  